{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="header">
        <h4 class="title text-center">Add Class</h4>
    </div>
    <div class="content">
        {% crispy class_form %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h4 class="header text-center">School Management</h4>
            <div class="content">
                {% include 'class_manipulation.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}