{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card bg-primary">
            <div class="heading">
                <h4 class="title text-center"><u>School Capacity</u></h4>
            </div>
            <div class="content">
                <h2 class="title text-center"><strong>{{ school_capacity }}</strong></h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="heading">
                <h4 class="title text-center"><u>Students</u></h4>
            </div>
            <div class="content">
                <h2 class="title text-center"><strong>{{ students_total }}</strong></h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="heading">
                <h4 class="title text-center"><u>Vacancies</u></h4>
            </div>
            <div class="content">
                <h2 class="title text-center"><strong>{{ vacancies }}</strong></h2>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="content">
        {% for class_data in class_rooms %}
            <div class="col-md-6">
                <div class="card">
                    <div class="heading">
                        <h4 class="title text-center">{{ class_data  }}</h4>
                    </div>
                    <div class="content">
                         <div class="panel-group" id="accordion">
                             <div class="panel panel-primary">
                                 <div class="panel-heading">
                                     <h4 class="panel-title text-center " data-target="#{{ class_data }}" data-toggle="collapse" data-parent="accordion">
                                         Streams
                                         <!--b class="caret delete-class"></b-->
                                         <span class="caret"></span>
                                     </h4>
                                 </div>
                             </div>
                             <div class="panel-collapse collapse" id="{{ class_data }}">
                                 <div class="panel-body">
                                     <table class="table table-inverse">
                                         <thead>
                                         <tr>
                                             <th scope="col">Name</th>
                                             <th scope="col">Status</th>
                                         </tr>
                                         </thead>
                                         <tbody>
                                         {% for data in class_streams %}
                                         <tr>
                                             {% if data.class_id == class_data %}
                                             <td scope="col"><a class="btn btn-primary" href="{% url 'admissions:stream_view' slug=data.pk %}">{{ data }}</a></td>
                                             <td scope="col">{{ data.class_status }} full</td>
                                             {% endif %}
                                         </tr>
                                         {% endfor %}
                                         </tbody>
                                     </table>
                                 </div>
                             </div>
                         </div>
                       <!-- add other content here if interested -->
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock  %}



