{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title text-center">Student Admission</h4>
            </div>
            <div class="content">
                <a class="btn btn-primary delete-class" name="continuing_student" href="{% url 'admissions:student_admission' %}?continuing_student">Continuing Student</a>
                <a class="btn btn-primary" href="{% url 'admissions:student_admission' %}?starting_student" name="starting_student">New Student</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {% include 'class_view.html' %}
    </div>
</div>

{% endblock %}